/* agrego estilos extra al portal*/

/*estilos para el error del login*/

ul{
    list-style: none
}

.error_list{
    color: darkred;
    line-height: 18px;
    list-style: none;
    padding-left: 0px;
}

/* le doy un alto fijo al header por que al usar height: 100vh para que el login me ocupe toda la pantalla se me achicaba el tamaño del header*/
.header-nav{
    min-height: 83px;
}

#login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container_login{
    flex: 1;
}
    
.jumbotron-overlay {
  height: 100%;
  
}

/* covierto las primeras letras en mayusculas */
.text-capitalize{
    text-transform: capitalize;
}

/* stilos para los iconos haciendo de botones edit y delete*/
.link_actions{
    font-size: 2em;
}

/* colores de los iconos de eliminar */
.icon_new{
    color: #18b596
}

.icon_edit{
    color: #00b3e3;
}

.icon_delete{
    color: #CC0000
}

.border{
    border: 1px solid;
}

/* clase para centrar */
.col-center{
    float: none;
    margin: 0 auto;
}

.text-white{
    color: #fff;
    font-weight: bold
}

/* tamaño de letra de 13px para mostrar los errores en los formularios*/
.text-size-13{
    font-size: 13.5px;
}

.text-bold{
    font-weight: bold
}

.text-blue{
    color: #215093
}

/* tanaño del contenedor de las iamgenes del form de agregar un nuevo boton*/
.box-images{
    width: 150px;
}
/* sobreescribo esta clase para darle u color mas oscuro al texto de error de las validaciones */
.text-danger{
    color: darkred
}














/* @media querys */
@media screen and (min-width: 0px) and (max-width: 767px){
    .results_pagination{
        text-align: center
    }
}
    
@media screen and (min-width: 0px) and (max-width: 1199px){
    .center-block{
        float: none;
    }
    .margintop100{
        margin-top: 0
    }
    .container-fluid{
        padding: 0
    }
}